body{
  background-color: #18191A;
}

.mx-auto{
    position: relative;
    margin-top: -70px;
    border: solid rgb(43, 206, 84) 5px;
    border-radius: 100%;
}

.btn{
    margin-top: 20px;
    text-align: left;
}

.box{
    background-color: rgb(80, 177, 233);
    color: rgb(0, 0, 0);
    margin: auto;
    text-align: center;
    border: 3px solid black;
    width: 700px;
    height: auto;
}

h1{
    font-size: 2em;
}


#cprimaria{
    padding-bottom: 2em;
    background-color: rgba(0, 0, 0, 0.746);
}

#csecundaria {

    background-color: rgb(28, 15, 97);
    padding-bottom: 100%;
}

.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: rgb(0, 0, 0);
    font-size: 20px;
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .facebook {
    background: transparent;
    color: rgb(0, 0, 0);
    font-size: 40px;
  }
  
  .twitter {
    background: transparent;
    color: rgb(0, 0, 0);
    font-size: 40px;
    margin-left: 20px;
  }
  
  .instagram {
    background: transparent;
    color: rgb(0, 0, 0);
    font-size: 40px;
    margin-left: 20px;
  }
  
  .linkedin {
    background: transparent;
    color: rgb(0, 0, 0);
    font-size: 40px;
    margin-left: 20px;
  }

.contenedor{
  position: relative;
}

.contenedor .contenido {
  padding-left: 40px;
  position: absolute;
  color: white;
  top: 5px;
}

@media all and (max-width:320px){
  .contenido{
    font-size: 12px;
  }
}